/* Файл variables.css */


/* Файл fonts.css */

@font-face {
    font-family: "Open Sans";
    src:
        local("Open Sans Regular"),
        url("../fonts/opensans.woff2") format("woff2"), 
        url("../fonts/opensans.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Open Sans Bold";
    src:
        local("Open Sans Bold"),
        url("../fonts/opensansbold.woff2") format("woff2"), 
        url("../fonts/opensansbold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
}


/* Файл base/base.css */
/*
body {
  background-color: #fff;
  font-size: 14px;
  line-height: 24px;
  font-family: 'Open Sans', 'Helvetica', sans-serif;
  color: #444;
  font-style: normal;
}

img {
  max-width: 100%;
  height: auto;
}*/


/* Файл blocks/page-header.css */

.page-header {
	background-color: #fff;

	font-family: 'Verdana', 'Helvetica', sans-serif;
	font-weight: bold;
	font-size: 16px;
	line-height: 24px;
	color: #000;

	min-height: 78px;
	padding: 0;
	margin: 0;
	border-bottom: 1px solid #e7e7e7;
}


/* Файл blocks/main-nav.css */

.main-nav {
	background-color: #fff;

	font-family: 'Verdana', 'Helvetica', sans-serif;
	font-weight: bold;
	font-size: 16px;
	line-height: 24px;
	color: #000;

	min-height: 78px;
	padding: 0;
	margin: 0;
}


/* Файл blocks/products-header.css */

.products-header {
	background: url('../../img/hero-mobile@1x.jpg') no-repeat center top #f9f9f9;

	font-family: 'Verdana', 'Helvetica', sans-serif;
	font-weight: bold;
	font-size: 24px;
	line-height: 30px;
	color: #231f20;

	min-height: 299px;
	padding: 0;
	margin: 0;
}


/* Файл blocks/products-cat.css */

.products-cat {
	background-color: #63d1bb;

	font-family: 'Tahoma', 'Helvetica', sans-serif;
	font-weight: bold;
	font-size: 18px;
	line-height: 24px;
	color: #fff;

	min-height: 206px;
	padding: 0;
	margin: 0;
}


/* Файл blocks/weekly-product.css */

.weekly-product {
	background-color: #fff;
	font-family: 'Open Sans', 'Helvetica', sans-serif;
	font-size: 14px;
	line-height: 24px;
	color: #444;
	
	padding: 0;
	margin: 0;
}


/* Файл blocks/about-us.css */

.about-us {
	background-color: #fff;	
	font-family: 'Verdana', 'Helvetica', sans-serif;
	font-weight: bold;
	font-size: 16px;
	line-height: 16px;
	color: #000;
	
	padding: 0;
	margin: 0;
}


/* Файл blocks/any-reviews.css */

.any-reviews {
	background-color: #fff;	
	font-family: 'Open Sans', 'Helvetica', sans-serif;
	font-size: 14px;
	line-height: 30px;
	color: #444;
	
	padding: 0;
	margin: 0;
}


/* Файл blocks/contacts.css */

.contacts {
	background-color: #fff;
	font-family: 'Open Sans', 'Helvetica', sans-serif;
	font-size: 14px;
	line-height: 30px;
	color: #444;
	
	padding: 0;
	margin: 0;
}


/* Файл blocks/page-footer.css */

.page-footer {
	background-color: #f1f1f1;
	font-family: 'Verdana', 'Helvetica', sans-serif;
	font-weight: bold;
	font-size: 18px;
	line-height: 18px;
	color: #444;
	
	min-height: 160px;
	padding: 0;
	margin: 0;
}


/* Файл blocks/products-list.css */

.products-list {
	background-color: #fff;
	font-family: 'Open Sans', 'Helvetica', sans-serif;
	font-size: 14px;
	line-height: 30px;
	color: #444;
	
	padding: 0;
	margin: 0;
}


/* Файл blocks/product.css */

.product {
	background-color: #fff;
	font-family: 'Open Sans', 'Helvetica', sans-serif;
	font-size: 14px;
	line-height: 30px;
	color: #444;
	
	padding: 0;
	margin: 0;
}


/* Файл blocks/form.css */

.form {
	background-color: #fff;
	font-family: 'Verdana', 'Helvetica', sans-serif;
	font-size: 17px;
	line-height: 19px;
	color: #444;
	
	padding: 0;
	margin: 0;
}



/*
* Далее идут компоненты
*/

/* Файл blocks/social-links.css */

.social-links {
	background-color: transparent;
	
	padding: 0;
	margin: 0;
}


/* Файл blocks/social-link.css */

.social-link {
	background-color: transparent;
	
	padding: 0;
	margin: 0;
}


/* Файл blocks/btn.css */

.btn {
	background-color: transparent;
	font-family: 'Open Sans Bold', 'Helvetica', sans-serif;
	font-size: 17px;
	line-height: 17px;
	color: #444;
	text-transform: uppercase;
	
	min-height: 51px;
	padding: 0 20px;
	margin: 0;
	border: 2px solid #444;
}


/* Файл blocks/hr.css */

.hr {
	background-color: transparent;

	min-height: 6px;
	padding: 0;
	margin: 0;
	border: none;
}


/* Файл blocks/the-title.css */

.the-title {
	background-color: transparent;
	font-family: 'Verdana', 'Helvetica', sans-serif;
	font-weight: bold;
	font-size: 24px;
	line-height: 30px;
	color: #000;
	
	padding: 0;
	margin: 25px 0 5px;
}


/* Файл blocks/the-descr.css */

.the-descr {
	background-color: transparent;
	font-family: 'Open Sans Bold', 'Helvetica', sans-serif;
	font-size: 16px;
	line-height: 16px;
	color: #63d1bb;
	text-transform: uppercase;
	
	padding: 0;
	margin: 0;
}


/* Файл blocks/page-title.css */

.page-title {
	background-color: #f1f1f1;
	font-family: 'Verdana', 'Helvetica', sans-serif;
	font-weight: bold;
	font-size: 24px;
	line-height: 30px;
	color: #231f20;
	
	padding: 0;
	margin: 0;
	min-height: 175px;
}